.catalog {

}

.card {
    height: 400px;
    background-color: #bdbdbd;
    margin: 14px 10px;
    &__pic {

    }
    &__img {
        width: 100%;
    }
    &__content {
        padding: 10px;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        color: brown;
    }
    &__descpiption {

    }
}