.home {
    margin-top: 90px;
    height: 1080px;
    background-size: 100%;
    &__wrapper {
        width: 100%;
        height: 100%;
        background: no-repeat url(https://static.wixstatic.com/media/ff6bf6_1e7fa400b61f4eb0b3f5cb5bca3fb2bc.jpg/v1/fill/w_1055,h_1080,al_c,q_85/ff6bf6_1e7fa400b61f4eb0b3f5cb5bca3fb2bc.webp);
        background-size: 100%;
    }

    &__content {
        color: #FFF;
        
    }

}


@media screen and (max-width: 767px) {
    .home {
        
        
        
        &__wrapper {
            width: 100%;
        height: 100%;
        }
    }
    
}