@import './mixins';
.home {
    margin-top: 90px;
    height: 100%;
    
    &__wrapper {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: 100%;
    }

    &__content {
        color: #FFF;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__title {
        margin-bottom: 25px;
        @include font1;
    }
    &__subt {
        margin-bottom: 67px;
        @include font2;
        text-align: center;
    }
    &__btn {
        padding: 20px 40px;
        color: #FE6148;
        background-color: #252128;
        text-decoration: none;
    }
    &__btn:hover {
        color: #252128;
        background-color: #FE6148;
    }

}


@media screen and (max-width: 767px) {
    .home {
        margin-top: -1px;

        &__title  {
            font-size: 48px;
        }
        &__subt {
            font-size: 23px;
            text-align: center;
        } 
    }
    
}