@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300;700&family=Oswald&family=Raleway&family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

// font-family: 'Pompiere', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

// font-family: 'Fira Sans Condensed', sans-serif;

@mixin backColorOrange {
    background-color: rgba(254,97,72,1);
    color: rgba(255,255,255,1);
}
@mixin backColorDark {
    background-color: rgba(37,33,40,1);
}
@mixin btnBlackColor {
    background-color: rgba(37,33,40,1);
    color: rgba(254,97,72,1);
}
@mixin btnOrangekColor {
    color: rgba(37,33,40,1);
    background-color: rgba(254,97,72,1);
}

@mixin font1 {
    font-family: 'Oswald', sans-serif; 
    font-size: 88px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2em;
}
@mixin font2 {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.42em;
}

@mixin font3 {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.3em;
}

@mixin font4 {
    font-family: 'Fira Sans Condensed', sans-serif; 
    font-size: 87px;
    font-weight: normal;
    font-style: normal;
}

@mixin font5 {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

@mixin font6 {
    font-family: 'Oswald', sans-serif; 
    font-size: 88px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.25em;
}

@mixin font7 {
    font-family: 'Oswald', sans-serif; 
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.4em;
}

@mixin font8 {
    font-family: 'Oswald', sans-serif; 
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}


@mixin font9 {
    font-family: 'Oswald', sans-serif; 
    font-size: 133px;
    font-weight: normal;
    font-style: normal;
}

@mixin font10 {
    font-family: 'Oswald', sans-serif; 
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

@mixin font11 {
    font-family: 'Oswald', sans-serif; 
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}


