@import './mixins.scss';

#modal {
    overflow: hidden;
    
    
}
.modal-window {
    position: fixed;
    width: 100%;
    height: 100%;
    @include backColorDark;
    left: 0;
    top: 0;
    z-index: 100;
    color: #FFFF;
    text-align: center;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    &__title {
        margin-bottom: 18px;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__subt {
        margin-bottom: 60px;
    }
    &__subt_two {
        color: rgba(254,97,72,1);
    }
    &__links {
        display: flex;
        flex-direction: column;
    }
    &__link { 
        width: 318px;
        height: 48px;
        text-decoration: none;
        cursor: pointer;
        color: #FFFF;
    }
    &__link_facebook {
        background-color: #3b5998;
        margin-bottom: 24px;
    }
    &__link_google {
        background-color: #4285f4;
        margin-bottom: 24px;
    }
    &__link_email {
        border: 1px solid #FFF;
        background-color: transparent;
    }
    &__lines {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__line {
        border-bottom: 1px solid;
        width: 45%;
        transform: rotate(180deg);
        
    }
    &__btn-cancel {
        position: fixed;
        top: 60px;
        right: 60px;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
    }
    &__logo {
        width: 28px;
        height: 28px;
    }
}